.idea/
*.iml
*.ser
target/
.project
.settings
.classpath
.metadata
out/
.tomcatplugin
.#webclasspath
LOG_DIR_IS_UNDEFINED/
LOG_DIR_HOME_IS_UNDEFINED/
*/test-output/
activemq-data/
/.recommenders
stable.data
stable.index
volatile.data
volatile.index
/client-common/src/main/resources/cpdt/client/Info.properties
/dev-utilities/tomcat/work
/dev-utilities/tomcat/logs
/dev-utilities/tomcat/webapps
!/server-shipping/src/main/resources/cpdt/artifact/pdfboxtemplate/*.ser
/.sonarlint
